# Exploring Data available in Foundation App

The data can be gathered from the FND mainnet subgraph API at: https://api.thegraph.com/subgraphs/name/f8n/fnd

A total of 15 "Query" tables were found under the "Schema" of the FND mainnet subgraph.

Out of 15, 9 of the "Query" tables are explored below to determine if enough data exists for the capstone project.

In [1]:
#import required packages
import requests
import json

import numpy as np
import pandas as pd

import pandas_profiling
from pandas_profiling import ProfileReport
#from pandas_profiling.utils.cache import cache_file

## Account query

In [2]:
query  = """
{
    accounts(first:5, orderBy: netRevenueInETH, orderDirection: desc, where:{isAdmin :false})
    {id
    isAdmin
    netRevenueInETH
    netRevenuePendingInETH
    pendingWithdrawalAmountInETH}
}
"""

url = 'https://api.thegraph.com/subgraphs/name/f8n/fnd'
r = requests.post(url, json={'query': query})
#print(r.status_code)
#print(r.text)

# convert json into list
json_data = json.loads(r.text)
extracted_data = json_data['data'][list(json_data['data'].keys())[0]]

#create a empty dataframe to store the extracted data
# ref to https://www.kite.com/python/answers/how-to-create-an-empty-dataframe-with-column-names-in-python
df_column_names = list(extracted_data[0].keys())
wrangled_df = pd.DataFrame(columns = df_column_names)
#print(wrangled_df.head())

# store each entry from the extracted data into the empty data frame
for i in range(len(extracted_data)):
    wrangled_df = wrangled_df.append(extracted_data[i], ignore_index = True)
    
#profile_report = ProfileReport(wrangled_df, minimal = True)
#profile_report.to_notebook_iframe()
wrangled_df.describe().T

,count,unique,top,freq
id,5,5,0x484a12a27e8c95718e0b60d14369bfeaa426aff3,1
isAdmin,5,1,False,5
netRevenueInETH,5,5,63.9625,1
netRevenuePendingInETH,5,4,0,2
pendingWithdrawalAmountInETH,5,1,0,5

## Creator query

In [3]:
query  = """
{
    creators(first:5, orderBy: netRevenueInETH, orderDirection: desc)
    {
    id
    account
    netSalesInETH
    netSalesPendingInETH
    netRevenueInETH
    netRevenuePendingInETH
    }
}
"""

url = 'https://api.thegraph.com/subgraphs/name/f8n/fnd'
r = requests.post(url, json={'query': query})
#print(r.status_code)
#print(r.text)

# convert json into list
json_data = json.loads(r.text)
extracted_data = json_data['data'][list(json_data['data'].keys())[0]]

#create a empty dataframe to store the extracted data
# ref to https://www.kite.com/python/answers/how-to-create-an-empty-dataframe-with-column-names-in-python
df_column_names = list(extracted_data[0].keys())
wrangled_df = pd.DataFrame(columns = df_column_names)
#print(wrangled_df.head())

# store each entry from the extracted data into the empty data frame
for i in range(len(extracted_data)):
    wrangled_df = wrangled_df.append(extracted_data[i], ignore_index = True)
    
#profile_report = ProfileReport(wrangled_df, minimal = True)
#profile_report.to_notebook_iframe()
wrangled_df.describe().T

,count,unique,top,freq
account,5,1,{},5
id,5,5,0xf74d1224931afa9cf12d06092c1eb1818d1e255c,1
netRevenueInETH,5,5,1890.4,1
netRevenuePendingInETH,5,1,0,5
netSalesInETH,5,5,2224,1
netSalesPendingInETH,5,1,0,5

## NftContract

In [4]:
query  = """
{
    nftContracts(first:5)
    {
    id
    name
    symbol
    baseURI
    }
}
"""

url = 'https://api.thegraph.com/subgraphs/name/f8n/fnd'
r = requests.post(url, json={'query': query})
#print(r.status_code)
#print(r.text)

# convert json into list
json_data = json.loads(r.text)
extracted_data = json_data['data'][list(json_data['data'].keys())[0]]

#create a empty dataframe to store the extracted data
# ref to https://www.kite.com/python/answers/how-to-create-an-empty-dataframe-with-column-names-in-python
df_column_names = list(extracted_data[0].keys())
wrangled_df = pd.DataFrame(columns = df_column_names)
#print(wrangled_df.head())

# store each entry from the extracted data into the empty data frame
for i in range(len(extracted_data)):
    wrangled_df = wrangled_df.append(extracted_data[i], ignore_index = True)
    
#profile_report = ProfileReport(wrangled_df, minimal = True)
#profile_report.to_notebook_iframe()
wrangled_df.describe().T

        count unique                                         top freq
baseURI     0      0                                         NaN  NaN
id          5      5  0x01a3f8720bea1cbe02e580df45371b58351eabc1    1
name        0      0                                         NaN  NaN
symbol      0      0                                         NaN  NaN

## Nft

In [5]:
query  = """
{
    nfts(first:5, orderBy: netSalesInETH, orderDirection: desc)
    {
    id
    nftContract

    tokenIPFSPath
    name
    description
    image
    creator
    dateMinted
    mintedTransfer
    owner
    ownedOrListedBy
    approvedSpender
    netSalesInETH
    netSalesPendingInETH
    netRevenueInETH
    netRevenuePendingInETH
    isFirstSale
    mostRecentAuction
    mostRecentActiveAuction
    latestFinalizedAuction
    tokenCreatorPaymentAddress
    percentSplit
    lastSalePriceInETH
    }
}
"""

url = 'https://api.thegraph.com/subgraphs/name/f8n/fnd'
r = requests.post(url, json={'query': query})
#print(r.status_code)
#print(r.text)

# convert json into list
json_data = json.loads(r.text)
extracted_data = json_data['data'][list(json_data['data'].keys())[0]]

#create a empty dataframe to store the extracted data
# ref to https://www.kite.com/python/answers/how-to-create-an-empty-dataframe-with-column-names-in-python
df_column_names = list(extracted_data[0].keys())
wrangled_df = pd.DataFrame(columns = df_column_names)
#print(wrangled_df.head())

# store each entry from the extracted data into the empty data frame
for i in range(len(extracted_data)):
    wrangled_df = wrangled_df.append(extracted_data[i], ignore_index = True)
    
#profile_report = ProfileReport(wrangled_df, minimal = True)
#profile_report.to_notebook_iframe()
wrangled_df.describe().T

,count,unique,top,freq
approvedSpender,5,1,{},5
creator,5,1,{},5
dateMinted,5,5,1618452786,1
description,0,0,NaN,NaN
id,5,5,0x3b3ee1931dc30c1957379fac9aba94d1c48a5405-24437,1
image,0,0,NaN,NaN
isFirstSale,5,1,False,5
lastSalePriceInETH,5,4,350,2
latestFinalizedAuction,5,1,{},5
mintedTransfer,5,1,{},5
mostRecentActiveAuction,5,1,{},5
mostRecentAuction,5,1,{},5
name,0,0,NaN,NaN
netRevenueInETH,5,4,297.5,2
netRevenuePendingInETH,5,5,12677.174465,1
netSalesInETH,5,4,350,2
netSalesPendingInETH,5,5,14914.3229,1
nftContract,5,1,{},5
ownedOrListedBy,5,1,{},5
owner,5,1,{},5
percentSplit,0,0,NaN,NaN
tokenCreatorPaymentAddress,0,0,NaN,NaN
tokenIPFSPath,5,5,QmNeqUFf3WKcXFEHgxFCrf3t8jrxyCkev6LBtRz78Ygq9u...,1

## Nft Transfer

In [6]:
query  = """
{
    nftTransfers(first:5)
    {
    id
    nft
    from
    to
    dateTransferred
    transactionHash
    }
}
"""

url = 'https://api.thegraph.com/subgraphs/name/f8n/fnd'
r = requests.post(url, json={'query': query})
#print(r.status_code)
#print(r.text)

# convert json into list
json_data = json.loads(r.text)
extracted_data = json_data['data'][list(json_data['data'].keys())[0]]

#create a empty dataframe to store the extracted data
# ref to https://www.kite.com/python/answers/how-to-create-an-empty-dataframe-with-column-names-in-python
df_column_names = list(extracted_data[0].keys())
wrangled_df = pd.DataFrame(columns = df_column_names)
#print(wrangled_df.head())

# store each entry from the extracted data into the empty data frame
for i in range(len(extracted_data)):
    wrangled_df = wrangled_df.append(extracted_data[i], ignore_index = True)
    
#profile_report = ProfileReport(wrangled_df, minimal = True)
#profile_report.to_notebook_iframe()
wrangled_df.describe().T

,count,unique,top,freq
dateTransferred,5,5,1631965722,1
from,5,1,{},5
id,5,5,0x000018d26fc4895c49d2aec0b35e4d702e918bb11ff8...,1
nft,5,1,{},5
to,5,1,{},5
transactionHash,5,5,0x000018d26fc4895c49d2aec0b35e4d702e918bb11ff8...,1

## NftAccountApproval

In [7]:
query  = """
{
    nftAccountApprovals(first:5)
    {
    id
    nftContract
    owner
    spender
    }
}
"""

url = 'https://api.thegraph.com/subgraphs/name/f8n/fnd'
r = requests.post(url, json={'query': query})
#print(r.status_code)
#print(r.text)

# convert json into list
json_data = json.loads(r.text)
extracted_data = json_data['data'][list(json_data['data'].keys())[0]]

#create a empty dataframe to store the extracted data
# ref to https://www.kite.com/python/answers/how-to-create-an-empty-dataframe-with-column-names-in-python
df_column_names = list(extracted_data[0].keys())
wrangled_df = pd.DataFrame(columns = df_column_names)
#print(wrangled_df.head())

# store each entry from the extracted data into the empty data frame
for i in range(len(extracted_data)):
    wrangled_df = wrangled_df.append(extracted_data[i], ignore_index = True)
    
#profile_report = ProfileReport(wrangled_df, minimal = True)
#profile_report.to_notebook_iframe()
wrangled_df.describe().T

,count,unique,top,freq
id,5,5,0x3b3ee1931dc30c1957379fac9aba94d1c48a5405-0x0...,1
nftContract,5,1,{},5
owner,5,1,{},5
spender,5,1,{},5

## NftMarketContract

In [8]:
query  = """
{
    nftMarketContracts(first:5)
    {
    id
    minBidIncrementInPercent
    maxBidIncrementRequirementInETH
    percentPrimaryFoundationFee
    percentSecondaryFoundationFee
    percentSecondaryCreatorFee
    duration
    extensionDuration
    dateGoLiveDate
    numberOfBidsPlaced
    }
}
"""

url = 'https://api.thegraph.com/subgraphs/name/f8n/fnd'
r = requests.post(url, json={'query': query})
#print(r.status_code)
#print(r.text)

# convert json into list
json_data = json.loads(r.text)
extracted_data = json_data['data'][list(json_data['data'].keys())[0]]

#create a empty dataframe to store the extracted data
# ref to https://www.kite.com/python/answers/how-to-create-an-empty-dataframe-with-column-names-in-python
df_column_names = list(extracted_data[0].keys())
wrangled_df = pd.DataFrame(columns = df_column_names)
#print(wrangled_df.head())

# store each entry from the extracted data into the empty data frame
for i in range(len(extracted_data)):
    wrangled_df = wrangled_df.append(extracted_data[i], ignore_index = True)
    
#profile_report = ProfileReport(wrangled_df, minimal = True)
#profile_report.to_notebook_iframe()
wrangled_df.describe().T

,count,unique,top,freq
dateGoLiveDate,1,1,0,1
duration,1,1,86400,1
extensionDuration,1,1,900,1
id,1,1,0xcda72070e455bb31c7690a170224ce43623d0b6f,1
maxBidIncrementRequirementInETH,1,1,0,1
minBidIncrementInPercent,1,1,10,1
numberOfBidsPlaced,1,1,98456,1
percentPrimaryFoundationFee,1,1,15,1
percentSecondaryCreatorFee,1,1,10,1
percentSecondaryFoundationFee,1,1,5,1

## NftMarketAuction

In [9]:
query  = """
{
    nftMarketAuctions(first:5, orderBy: creatorRevenueInETH, orderDirection: desc, 
    where:{status:Open})
    {
    id
    nftMarketContract
    auctionId
    nft
    nftContract
    status
    seller
    dateCreated
    transactionHashCreated
    dateStarted
    dateEnding


    dateFinalized
    transactionHashCanceled
    reservePriceInETH
    initialBid
    highestBid
    creatorRevenueInETH
    foundationRevenueInETH
    ownerRevenueInETH
    duration
    extensionDuration
    isPrimarySale
    numberOfBids
    bidVolumeInETH
    }
}
"""
#[bids]
#    dateCancelled
#    cancelledReason

url = 'https://api.thegraph.com/subgraphs/name/f8n/fnd'
r = requests.post(url, json={'query': query})
#print(r.status_code)
#print(r.text)

# convert json into list
json_data = json.loads(r.text)
extracted_data = json_data['data'][list(json_data['data'].keys())[0]]

#create a empty dataframe to store the extracted data
# ref to https://www.kite.com/python/answers/how-to-create-an-empty-dataframe-with-column-names-in-python
df_column_names = list(extracted_data[0].keys())
wrangled_df = pd.DataFrame(columns = df_column_names)
#print(wrangled_df.head())

# store each entry from the extracted data into the empty data frame
for i in range(len(extracted_data)):
    wrangled_df = wrangled_df.append(extracted_data[i], ignore_index = True)
    
#profile_report = ProfileReport(wrangled_df, minimal = True)
#profile_report.to_notebook_iframe()
wrangled_df.describe().T

,count,unique,top,freq
auctionId,5,5,99999,1
bidVolumeInETH,5,1,0,5
creatorRevenueInETH,0,0,NaN,NaN
dateCreated,5,5,1634158662,1
dateEnding,0,0,NaN,NaN
dateFinalized,0,0,NaN,NaN
dateStarted,0,0,NaN,NaN
duration,5,1,86400,5
extensionDuration,5,1,900,5
foundationRevenueInETH,0,0,NaN,NaN
highestBid,0,0,NaN,NaN
id,5,5,0xcda72070e455bb31c7690a170224ce43623d0b6f-99999,1
initialBid,0,0,NaN,NaN
isPrimarySale,5,1,True,5
nft,5,1,{},5
nftContract,5,1,{},5
nftMarketContract,5,1,{},5
numberOfBids,5,1,0,5
ownerRevenueInETH,0,0,NaN,NaN
reservePriceInETH,5,3,0.5,2
seller,5,1,{},5
status,5,1,Open,5
transactionHashCanceled,0,0,NaN,NaN
transactionHashCreated,5,5,0xb91395688369cc851b5add76dceef65619a9bfc2f4ee...,1

## NftMarketBid

In [10]:
query  = """
{
    nftMarketBids(first:5, orderBy: amountInETH, orderDirection: desc)
    {
    id
    nftMarketAuction
    nft
    bidder
    datePlaced
    transactionHashPlaced
    amountInETH
    status
    dateLeftActiveStatus
    transactionHashLeftActiveStatus
    seller
    extendedAuction
    outbidByBid
    bidThisOutbid
    }
}
"""

url = 'https://api.thegraph.com/subgraphs/name/f8n/fnd'
r = requests.post(url, json={'query': query})
#print(r.status_code)
#print(r.text)

# convert json into list
json_data = json.loads(r.text)
extracted_data = json_data['data'][list(json_data['data'].keys())[0]]

#create a empty dataframe to store the extracted data
# ref to https://www.kite.com/python/answers/how-to-create-an-empty-dataframe-with-column-names-in-python
df_column_names = list(extracted_data[0].keys())
wrangled_df = pd.DataFrame(columns = df_column_names)
#print(wrangled_df.head())

# store each entry from the extracted data into the empty data frame
for i in range(len(extracted_data)):
    wrangled_df = wrangled_df.append(extracted_data[i], ignore_index = True)
    
#profile_report = ProfileReport(wrangled_df, minimal = True)
#profile_report.to_notebook_iframe()
wrangled_df.describe().T

,count,unique,top,freq
amountInETH,5,5,2224,1
bidThisOutbid,5,1,{},5
bidder,5,1,{},5
dateLeftActiveStatus,5,5,1618606455,1
datePlaced,5,5,1618603968,1
extendedAuction,5,1,True,5
id,5,5,0xcda72070e455bb31c7690a170224ce43623d0b6f-236...,1
nft,5,1,{},5
nftMarketAuction,5,1,{},5
outbidByBid,4,1,{},4
seller,5,1,{},5
status,5,2,Outbid,4
transactionHashLeftActiveStatus,5,5,0xa0c34580aa1c16db491d7f42501a89c6a932b168816d...,1
transactionHashPlaced,5,5,0x88dfe92ce544a74cc93a7d1ee6b4009eb1dcc841b8e5...,1