In [1]:
#import required packages
import requests
import json

import numpy as np
import pandas as pd

import pandas_profiling
from pandas_profiling.utils.cache import cache_file

## Account query

In [2]:
query  = """
{
    accounts(first:5, orderBy: netRevenueInETH, orderDirection: desc, where:{isAdmin :false})
    {id
    isAdmin
    netRevenueInETH
    netRevenuePendingInETH
    pendingWithdrawalAmountInETH}
}
"""

url = 'https://api.thegraph.com/subgraphs/name/f8n/fnd'
r = requests.post(url, json={'query': query})
#print(r.status_code)
#print(r.text)

# convert json into list
json_data = json.loads(r.text)
extracted_data = json_data['data'][list(json_data['data'].keys())[0]]

#create a empty dataframe to store the extracted data
# ref to https://www.kite.com/python/answers/how-to-create-an-empty-dataframe-with-column-names-in-python
df_column_names = list(extracted_data[0].keys())
wrangled_df = pd.DataFrame(columns = df_column_names)
#print(wrangled_df.head())

# store each entry from the extracted data into the empty data frame
for i in range(len(extracted_data)):
    wrangled_df = wrangled_df.append(extracted_data[i], ignore_index = True)
    
profile_report = wrangled_df.profile_report(explorative=True, html={'style': {'full_width': True}})
profile_report.to_widgets()
wrangled_df.head()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

,id,isAdmin,netRevenueInETH,netRevenuePendingInETH,pendingWithdrawalAmountInETH
0,0x484a12a27e8c95718e0b60d14369bfeaa426aff3,False,63.9625,25.5,0
1,0x306105b952e4143944754b630325144185c9b595,False,55.25,0,0
2,0x3a2ea5595098565e7362e04da30c5ec29435731f,False,50.0565,0,0
3,0x7bc7481751d7fcb76d08f596b03ba1e42378ea27,False,49.21183,67.85924,0
4,0xf0dcc90502e75b9cb0b694f71aba77b0a1870124,False,32.725,57.8,0

## Creator query

In [3]:
query  = """
{
    creators(first:5, orderBy: netRevenueInETH, orderDirection: desc)
    {
    id
    account
    netSalesInETH
    netSalesPendingInETH
    netRevenueInETH
    netRevenuePendingInETH
    }
}
"""

url = 'https://api.thegraph.com/subgraphs/name/f8n/fnd'
r = requests.post(url, json={'query': query})
#print(r.status_code)
#print(r.text)

# convert json into list
json_data = json.loads(r.text)
extracted_data = json_data['data'][list(json_data['data'].keys())[0]]

#create a empty dataframe to store the extracted data
# ref to https://www.kite.com/python/answers/how-to-create-an-empty-dataframe-with-column-names-in-python
df_column_names = list(extracted_data[0].keys())
wrangled_df = pd.DataFrame(columns = df_column_names)
#print(wrangled_df.head())

# store each entry from the extracted data into the empty data frame
for i in range(len(extracted_data)):
    wrangled_df = wrangled_df.append(extracted_data[i], ignore_index = True)
    
profile_report = wrangled_df.profile_report(explorative=True, html={'style': {'full_width': True}})
profile_report.to_widgets()
wrangled_df.head()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

,account,id,netRevenueInETH,netRevenuePendingInETH,netSalesInETH,netSalesPendingInETH
0,{},0xf74d1224931afa9cf12d06092c1eb1818d1e255c,1890.4,0,2224,0
1,{},0x4666fd1f89576e2d6fb3f2ecec5eefd3e1ba6b59,1329.178945,0,1623.6517,0
2,{},0x484ec62385e780f2460feac34864a77ba5a18134,513.4,0,604,0
3,{},0x0624d062ae9dd596de0384d37522cde46cd500d6,425,0,500,0
4,{},0x0f441cfad93287109f5ef834bf52f4aaaa8d8ffa,380.005263175,0,447.0650155,0

## NftContract

In [4]:
query  = """
{
    nftContracts(first:5)
    {
    id
    name
    symbol
    baseURI
    }
}
"""

url = 'https://api.thegraph.com/subgraphs/name/f8n/fnd'
r = requests.post(url, json={'query': query})
#print(r.status_code)
#print(r.text)

# convert json into list
json_data = json.loads(r.text)
extracted_data = json_data['data'][list(json_data['data'].keys())[0]]

#create a empty dataframe to store the extracted data
# ref to https://www.kite.com/python/answers/how-to-create-an-empty-dataframe-with-column-names-in-python
df_column_names = list(extracted_data[0].keys())
wrangled_df = pd.DataFrame(columns = df_column_names)
#print(wrangled_df.head())

# store each entry from the extracted data into the empty data frame
for i in range(len(extracted_data)):
    wrangled_df = wrangled_df.append(extracted_data[i], ignore_index = True)
    
profile_report = wrangled_df.profile_report(explorative=True, html={'style': {'full_width': True}})
profile_report.to_widgets()
wrangled_df.head()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

  baseURI                                          id  name symbol
0    None  0x01a3f8720bea1cbe02e580df45371b58351eabc1  None   None
1    None  0x04335767613c49245af96784ed067bb90307b736  None   None
2    None  0x04f6e358ef54ce7ae37396a008e87ac9ab245302  None   None
3    None  0x06012c8cf97bead5deae237070f9587f8e7a266d  None   None
4    None  0x0f07849fac15f46808900f15e7cde2b0d190f786  None   None

## Nft

In [5]:
query  = """
{
    nfts(first:5, orderBy: netSalesInETH, orderDirection: desc)
    {
    id
    nftContract

    tokenIPFSPath
    name
    description
    image
    creator
    dateMinted
    mintedTransfer
    owner
    ownedOrListedBy
    approvedSpender
    netSalesInETH
    netSalesPendingInETH
    netRevenueInETH
    netRevenuePendingInETH
    isFirstSale
    mostRecentAuction
    mostRecentActiveAuction
    latestFinalizedAuction
    tokenCreatorPaymentAddress
    percentSplit
    lastSalePriceInETH
    }
}
"""

url = 'https://api.thegraph.com/subgraphs/name/f8n/fnd'
r = requests.post(url, json={'query': query})
#print(r.status_code)
#print(r.text)

# convert json into list
json_data = json.loads(r.text)
extracted_data = json_data['data'][list(json_data['data'].keys())[0]]

#create a empty dataframe to store the extracted data
# ref to https://www.kite.com/python/answers/how-to-create-an-empty-dataframe-with-column-names-in-python
df_column_names = list(extracted_data[0].keys())
wrangled_df = pd.DataFrame(columns = df_column_names)
#print(wrangled_df.head())

# store each entry from the extracted data into the empty data frame
for i in range(len(extracted_data)):
    wrangled_df = wrangled_df.append(extracted_data[i], ignore_index = True)
    
profile_report = wrangled_df.profile_report(explorative=True, html={'style': {'full_width': True}})
profile_report.to_widgets()
wrangled_df.head()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

,approvedSpender,creator,dateMinted,description,id,image,isFirstSale,lastSalePriceInETH,latestFinalizedAuction,mintedTransfer,...,netRevenueInETH,netRevenuePendingInETH,netSalesInETH,netSalesPendingInETH,nftContract,ownedOrListedBy,owner,percentSplit,tokenCreatorPaymentAddress,tokenIPFSPath
0,{},{},1618452786,None,0x3b3ee1931dc30c1957379fac9aba94d1c48a5405-24437,None,False,2224,{},{},...,1890.4,12677.174465,2224,14914.3229,{},{},{},None,None,QmNeqUFf3WKcXFEHgxFCrf3t8jrxyCkev6LBtRz78Ygq9u...
1,{},{},1620835674,None,0x3b3ee1931dc30c1957379fac9aba94d1c48a5405-35855,None,False,500,{},{},...,425,1217.077515,500,1431.8559,{},{},{},None,None,QmRTMTht3bffHpnUmSaZVotXzBqejW21d7THDZU1udPbF4...
2,{},{},1615579135,None,0x3b3ee1931dc30c1957379fac9aba94d1c48a5405-6544,None,False,444,{},{},...,377.4,85.58565,444,100.689,{},{},{},None,None,QmTnSs9m5aP7egUhTbfHvFnRWhg9EJZSHnNDDJtxVRjL9h...
3,{},{},1631201780,None,0x3b3ee1931dc30c1957379fac9aba94d1c48a5405-82738,None,False,350,{},{},...,297.5,1410.260585,350,1659.1301,{},{},{},None,None,QmUfUAvBFypArQfxKRGCqtUkCdSr2ZT9LKaQyysULhY5G4...
4,{},{},1616598648,None,0x3b3ee1931dc30c1957379fac9aba94d1c48a5405-13129,None,False,350,{},{},...,297.5,1509.903875,350,1776.3575,{},{},{},None,None,QmQBCJtXkQ9P4FhNYapQAqHvSwCcC2ZNXHzQxBPLap5j4Y...

## Nft Transfer

In [6]:
query  = """
{
    nftTransfers(first:5)
    {
    id
    nft
    from
    to
    dateTransferred
    transactionHash
    }
}
"""

url = 'https://api.thegraph.com/subgraphs/name/f8n/fnd'
r = requests.post(url, json={'query': query})
#print(r.status_code)
#print(r.text)

# convert json into list
json_data = json.loads(r.text)
extracted_data = json_data['data'][list(json_data['data'].keys())[0]]

#create a empty dataframe to store the extracted data
# ref to https://www.kite.com/python/answers/how-to-create-an-empty-dataframe-with-column-names-in-python
df_column_names = list(extracted_data[0].keys())
wrangled_df = pd.DataFrame(columns = df_column_names)
#print(wrangled_df.head())

# store each entry from the extracted data into the empty data frame
for i in range(len(extracted_data)):
    wrangled_df = wrangled_df.append(extracted_data[i], ignore_index = True)
    
profile_report = wrangled_df.profile_report(explorative=True, html={'style': {'full_width': True}})
profile_report.to_widgets()
wrangled_df.head()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

,dateTransferred,from,id,nft,to,transactionHash
0,1631965722,{},0x000018d26fc4895c49d2aec0b35e4d702e918bb11ff8...,{},{},0x000018d26fc4895c49d2aec0b35e4d702e918bb11ff8...
1,1636598292,{},0x0000270c0d127733bc0b31483f62db344579f8ae8ae0...,{},{},0x0000270c0d127733bc0b31483f62db344579f8ae8ae0...
2,1634613542,{},0x0000d91b583c2ea6cffdfd7cb77fc079ca4980c72b8b...,{},{},0x0000d91b583c2ea6cffdfd7cb77fc079ca4980c72b8b...
3,1627684331,{},0x000120a60b78cf7262ea70945529fcac089947baf6e1...,{},{},0x000120a60b78cf7262ea70945529fcac089947baf6e1...
4,1622591149,{},0x000132e3bb80125f3efc9d2f863811fa10dd5694cce7...,{},{},0x000132e3bb80125f3efc9d2f863811fa10dd5694cce7...

## NftAccountApproval

In [7]:
query  = """
{
    nftAccountApprovals(first:5)
    {
    id
    nftContract
    owner
    spender
    }
}
"""

url = 'https://api.thegraph.com/subgraphs/name/f8n/fnd'
r = requests.post(url, json={'query': query})
#print(r.status_code)
#print(r.text)

# convert json into list
json_data = json.loads(r.text)
extracted_data = json_data['data'][list(json_data['data'].keys())[0]]

#create a empty dataframe to store the extracted data
# ref to https://www.kite.com/python/answers/how-to-create-an-empty-dataframe-with-column-names-in-python
df_column_names = list(extracted_data[0].keys())
wrangled_df = pd.DataFrame(columns = df_column_names)
#print(wrangled_df.head())

# store each entry from the extracted data into the empty data frame
for i in range(len(extracted_data)):
    wrangled_df = wrangled_df.append(extracted_data[i], ignore_index = True)
    
profile_report = wrangled_df.profile_report(explorative=True, html={'style': {'full_width': True}})
profile_report.to_widgets()
wrangled_df.head()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

                                                  id nftContract owner spender
0  0x3b3ee1931dc30c1957379fac9aba94d1c48a5405-0x0...          {}    {}      {}
1  0x3b3ee1931dc30c1957379fac9aba94d1c48a5405-0x0...          {}    {}      {}
2  0x3b3ee1931dc30c1957379fac9aba94d1c48a5405-0x0...          {}    {}      {}
3  0x3b3ee1931dc30c1957379fac9aba94d1c48a5405-0x0...          {}    {}      {}
4  0x3b3ee1931dc30c1957379fac9aba94d1c48a5405-0x0...          {}    {}      {}

## NftMarketContract

In [8]:
query  = """
{
    nftMarketContracts(first:5)
    {
    id
    minBidIncrementInPercent
    maxBidIncrementRequirementInETH
    percentPrimaryFoundationFee
    percentSecondaryFoundationFee
    percentSecondaryCreatorFee
    duration
    extensionDuration
    dateGoLiveDate
    numberOfBidsPlaced
    }
}
"""

url = 'https://api.thegraph.com/subgraphs/name/f8n/fnd'
r = requests.post(url, json={'query': query})
#print(r.status_code)
#print(r.text)

# convert json into list
json_data = json.loads(r.text)
extracted_data = json_data['data'][list(json_data['data'].keys())[0]]

#create a empty dataframe to store the extracted data
# ref to https://www.kite.com/python/answers/how-to-create-an-empty-dataframe-with-column-names-in-python
df_column_names = list(extracted_data[0].keys())
wrangled_df = pd.DataFrame(columns = df_column_names)
#print(wrangled_df.head())

# store each entry from the extracted data into the empty data frame
for i in range(len(extracted_data)):
    wrangled_df = wrangled_df.append(extracted_data[i], ignore_index = True)
    
profile_report = wrangled_df.profile_report(explorative=True, html={'style': {'full_width': True}})
profile_report.to_widgets()
wrangled_df.head()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

,dateGoLiveDate,duration,extensionDuration,id,maxBidIncrementRequirementInETH,minBidIncrementInPercent,numberOfBidsPlaced,percentPrimaryFoundationFee,percentSecondaryCreatorFee,percentSecondaryFoundationFee
0,0,86400,900,0xcda72070e455bb31c7690a170224ce43623d0b6f,0,10,98247,15,10,5

## NftMarketAuction

In [9]:
query  = """
{
    nftMarketAuctions(first:5, orderBy: creatorRevenueInETH, orderDirection: desc, 
    where:{status:Open})
    {
    id
    nftMarketContract
    auctionId
    nft
    nftContract
    status
    seller
    dateCreated
    transactionHashCreated
    dateStarted
    dateEnding


    dateFinalized
    transactionHashCanceled
    reservePriceInETH
    initialBid
    highestBid
    creatorRevenueInETH
    foundationRevenueInETH
    ownerRevenueInETH
    duration
    extensionDuration
    isPrimarySale
    numberOfBids
    bidVolumeInETH
    }
}
"""
#[bids]
#    dateCancelled
#    cancelledReason

url = 'https://api.thegraph.com/subgraphs/name/f8n/fnd'
r = requests.post(url, json={'query': query})
#print(r.status_code)
#print(r.text)

# convert json into list
json_data = json.loads(r.text)
extracted_data = json_data['data'][list(json_data['data'].keys())[0]]

#create a empty dataframe to store the extracted data
# ref to https://www.kite.com/python/answers/how-to-create-an-empty-dataframe-with-column-names-in-python
df_column_names = list(extracted_data[0].keys())
wrangled_df = pd.DataFrame(columns = df_column_names)
#print(wrangled_df.head())

# store each entry from the extracted data into the empty data frame
for i in range(len(extracted_data)):
    wrangled_df = wrangled_df.append(extracted_data[i], ignore_index = True)
    
profile_report = wrangled_df.profile_report(explorative=True, html={'style': {'full_width': True}})
profile_report.to_widgets()
wrangled_df.head()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

,auctionId,bidVolumeInETH,creatorRevenueInETH,dateCreated,dateEnding,dateFinalized,dateStarted,duration,extensionDuration,foundationRevenueInETH,...,nft,nftContract,nftMarketContract,numberOfBids,ownerRevenueInETH,reservePriceInETH,seller,status,transactionHashCanceled,transactionHashCreated
0,99999,0,None,1634158662,None,None,None,86400,900,None,...,{},{},{},0,None,0.5,{},Open,None,0xb91395688369cc851b5add76dceef65619a9bfc2f4ee...
1,99997,0,None,1634158432,None,None,None,86400,900,None,...,{},{},{},0,None,0.1,{},Open,None,0x0636d04f692aa355f7f28b7b7b07151c8611320aa483...
2,99995,0,None,1634158014,None,None,None,86400,900,None,...,{},{},{},0,None,0.1,{},Open,None,0x07ea0c2c366629fd8ad1a31d0cfc1a019cc71a66c2b1...
3,99994,0,None,1634157555,None,None,None,86400,900,None,...,{},{},{},0,None,0.4,{},Open,None,0xb237fd7f19af5f8f8eec2c92963a883223d145e56a3a...
4,99977,0,None,1634152072,None,None,None,86400,900,None,...,{},{},{},0,None,0.5,{},Open,None,0xdcd6b090c8a493c6cbe464d5d90fcd8fa77e30ac22f8...

## NftMarketBid

In [10]:
query  = """
{
    nftMarketBids(first:5, orderBy: amountInETH, orderDirection: desc)
    {
    id
    nftMarketAuction
    nft
    bidder
    datePlaced
    transactionHashPlaced
    amountInETH
    status
    dateLeftActiveStatus
    transactionHashLeftActiveStatus
    seller
    extendedAuction
    outbidByBid
    bidThisOutbid
    }
}
"""

url = 'https://api.thegraph.com/subgraphs/name/f8n/fnd'
r = requests.post(url, json={'query': query})
#print(r.status_code)
#print(r.text)

# convert json into list
json_data = json.loads(r.text)
extracted_data = json_data['data'][list(json_data['data'].keys())[0]]

#create a empty dataframe to store the extracted data
# ref to https://www.kite.com/python/answers/how-to-create-an-empty-dataframe-with-column-names-in-python
df_column_names = list(extracted_data[0].keys())
wrangled_df = pd.DataFrame(columns = df_column_names)
#print(wrangled_df.head())

# store each entry from the extracted data into the empty data frame
for i in range(len(extracted_data)):
    wrangled_df = wrangled_df.append(extracted_data[i], ignore_index = True)
    
profile_report = wrangled_df.profile_report(explorative=True, html={'style': {'full_width': True}})
profile_report.to_widgets()
wrangled_df.head()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

,amountInETH,bidThisOutbid,bidder,dateLeftActiveStatus,datePlaced,extendedAuction,id,nft,nftMarketAuction,outbidByBid,seller,status,transactionHashLeftActiveStatus,transactionHashPlaced
0,2224,{},{},1618606455,1618603968,True,0xcda72070e455bb31c7690a170224ce43623d0b6f-236...,{},{},None,{},FinalizedWinner,0xa0c34580aa1c16db491d7f42501a89c6a932b168816d...,0x88dfe92ce544a74cc93a7d1ee6b4009eb1dcc841b8e5...
1,2021.1337,{},{},1618603968,1618603119,True,0xcda72070e455bb31c7690a170224ce43623d0b6f-236...,{},{},{},{},Outbid,0x88dfe92ce544a74cc93a7d1ee6b4009eb1dcc841b8e5...,0x30c524973fed3246da699042d4dc7b304ef62df3ffe1...
2,1780,{},{},1618603119,1618602946,True,0xcda72070e455bb31c7690a170224ce43623d0b6f-236...,{},{},{},{},Outbid,0x30c524973fed3246da699042d4dc7b304ef62df3ffe1...,0x720302069974c0641e40db9eaf12ab9337d5d1edf0bb...
3,1618.1337,{},{},1618602946,1618602200,True,0xcda72070e455bb31c7690a170224ce43623d0b6f-236...,{},{},{},{},Outbid,0x720302069974c0641e40db9eaf12ab9337d5d1edf0bb...,0x41c52a89f0036b8568ef5e5b484cddb5b635686eb97a...
4,1471,{},{},1618602200,1618601442,True,0xcda72070e455bb31c7690a170224ce43623d0b6f-236...,{},{},{},{},Outbid,0x41c52a89f0036b8568ef5e5b484cddb5b635686eb97a...,0x26748b8bd04525230299af52595481a18912a5b85899...

## NftHistory

In [11]:
query  = """
{
    nftHistorys(first:5, orderBy: amountInETH, orderDirection: desc)
    {
    nft
    event
    auction
    contractAddress
    date
    marketplace
    transactionHash
    actorAccount
    txOrigin
    nftRecipient
    amountInETH
    amountInTokens
    tokenAddress
    }
}
"""

url = 'https://api.thegraph.com/subgraphs/name/f8n/fnd'
r = requests.post(url, json={'query': query})
#print(r.status_code)
print(r.text)

# convert json into list
json_data = json.loads(r.text)
extracted_data = json_data['data'][list(json_data['data'].keys())[0]]

#create a empty dataframe to store the extracted data
# ref to https://www.kite.com/python/answers/how-to-create-an-empty-dataframe-with-column-names-in-python
df_column_names = list(extracted_data[0].keys())
wrangled_df = pd.DataFrame(columns = df_column_names)
#print(wrangled_df.head())

# store each entry from the extracted data into the empty data frame
for i in range(len(extracted_data)):
    wrangled_df = wrangled_df.append(extracted_data[i], ignore_index = True)
    
profile_report = wrangled_df.profile_report(explorative=True, html={'style': {'full_width': True}})
profile_report.to_widgets()
wrangled_df.head()

{"errors":[{"locations":[{"column":5,"line":3}],"message":"Type `Query` has no field `nftHistorys`"}]}

KeyError: 'data'